# ===== Cấu hình Backend =====
PORT=3000
JWT_SECRET=doi-thanh-chuoi-bi-mat-cua-ban

# ===== Kết nối PostgreSQL =====
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=bv_phusan

# Tự động tạo/cập nhật bảng theo entity (true khi phát triển, false khi production)
DB_SYNC=true
# Ghi log câu lệnh SQL (true để debug)
DB_LOGGING=false
